.changeSort{
    color: var(--ifm-link-hover-color);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 0.6em;
    font-size: 1em;
    border-radius: 10px;
    border-color: transparent;
    cursor:pointer
}